<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Neopixel emulator</title>
  <meta name="description" content="LED lights emulator">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css?v=1.3">
  <link rel="stylesheet" href="lib/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <script src="lib/vue.js"></script>
</head>
<body>
  <main id="App">
    <button v-on:click="startEmulation" :disabled='isPlaying'>Play</button>
    <button v-on:click="pauseEmulation" :disabled='!isPlaying'>Pause</button>
    <button v-on:click="stopEmulation"  :disabled='!isPlaying'>Stop</button>
    delay: {{delay}} ms
    current frame: {{activeFrameIndex}}
    <section class="led-panel">
      <div>
        <div class="row" v-for="(row, rowIndex) in activeFrame">
          <div class="LED"
            v-for="(pixel, pixelIndex) in row"
            v-bind:id="'pixel-'+rowIndex+'-'+pixelIndex"
            v-bind:style="{'--bg-color': pixel}"
          >
          </div>
        </div>
      </div>
    </section>
  </main>
  <script type="text/javascript" src="scripts.js"></script>
</body>
</html>
