<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Neopixel emulator</title>
  <meta name="description" content="LED lights emulator">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css?v=1.3">
  <link rel="stylesheet" href="lib/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  <script src="lib/vue.js"></script>
</head>
<body>
  <main id="App">
    <section class="control-panel">
      <section class="button-group">
        <button v-on:click="startEmulation" :disabled='isPlaying'>Play</button>
        <button v-on:click="pauseEmulation" :disabled='!isPlaying'>Pause</button>
        <button v-on:click="stopEmulation"  :disabled='!isPlaying'>Stop</button>
      </section>
      <section class="parametrs-group">
        delay: {{delay}} ms
        current frame: {{activeFrameIndex}}
      </section>
    </section>
    <section class="panels">
      <section class="programming-panel card">
        <span class="form-group">
          delay: <input type="number" class="number-input" v-model="delay"/>
        </span>
        <section>
          <span class="form-group">
            Rows: <input type="number" class="number-input" v-bind:value="activeFrame.length" max="999"/>
          </span>
          <span class="form-group">
            Columns: <input type="number" class="number-input" v-bind:value="activeFrame[0].length" max="999"/>
          </span>
          <span class="form-group">
            Frames: <input type="number" class="number-input" v-bind:value="frames.length" max="999"/>
          </span>
        </section>
        <div class="row" v-for="(row, rowIndex) in activeFrame">
          <span v-for="(pixel, pixelIndex) in row" class="color-input-group">
            <input type="color" v-model="row[pixelIndex]">
            <input class="color-input" type="text" v-model="row[pixelIndex]">
          </span>
        </div>
        <input type="range" v-model="activeFrameIndex" v-bind:max="frames.length - 1"/>
      </section>
      <section class="led-panel card">
        <div>
          <div class="row" v-for="(row, rowIndex) in activeFrame">
            <div class="LED"
              v-for="(pixel, pixelIndex) in row"
              v-bind:id="'pixel-'+rowIndex+'-'+pixelIndex"
              v-bind:style="{'--bg-color': pixel}"
            >
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
  <script type="text/javascript" src="scripts.js"></script>
</body>
</html>
