.LED {
  border: 1px solid black;
  width: 1em;
  height: 1em;
  margin: 0.05em;
  background-color: var(--bg-color);

}

.led-panel{
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 90vh;
}
